﻿#social-network {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
    margin: 0;
    background-color: #f1f1f1;
}

#social-network.side-menu {
position: fixed;
top: 0;
left: 0;
bottom: 0;
padding: 10px 0;
background-color: #f1f1f1;
width: 10%;
text-align: center;
}

#social-network.side-menu a {
text-decoration: none;
color: #333;
padding: 2px 30px;
display: block;
}

#social-network.side-menu a:hover {
background-color: #CCC;
}

#social-network section {
float: right;
width: 90%;
}

#social-network section div {
width: 500px;
margin: 50px auto;
background-color: #fff;
overflow: hidden;
padding: 20px;
border-radius: 3px;
box-shadow: 1px 1px 1px rgba(0,0,0,.3);
z-index: 3;
position: relative;
}

#social-network section div img {
float: left;
width: 60px;
height: 60px;
}

#social-network section div textarea {
width: 400px;
height: 150px;
border: none;
padding: 5px 10px;
font-family: arial;
resize: none;
outline: none;
border-bottom: 2px solid #0077CC;
}

#social-network textarea::-webkit-scrollbar {
width: 0px;
background-color: transparent;
}

#social-network textarea::-webkit-scrollbar-thumb {
background-color: #CCC;
border-radius: 2px
}

#social-network section div [type = submit] {
float: right;
margin: 15px 10px auto auto;
border: none;
background-color: #0077CC;
color: #fff;
font-weight: bold;
padding: 10px 15px;
border-radius: 3px;
font-size: 16px;
}

#social-network .overlay {
background-color: rgba(0,0,0,.5);
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
z-index: 2;
display: none;
}

#social-network .post {
background-color: #fff;
width: 500px;
margin: 10px auto;
padding: 10px;
color: #333;
box-shadow: 1px 1px 1px rgba(0,0,0,.3);
border-radius: 3px;
}
