﻿@model SurfboardStore.Models.Item

@{
    ViewData["Title"] = "Details";
}

<div>
    <a asp-action="Details" asp-route-id="@Model.Surfboard.Id">Details</a> |
    <a asp-action="Index">Back to List</a>
</div>
@using (Html.BeginForm("Add", "Cart", FormMethod.Post))
{
    <div class="site-section mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="owl-carousel hero-slide owl-style">
                        <img src=@Html.DisplayFor(model => Model.Surfboard.ImageUrl) alt="Image" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-5 ml-auto">
                    <input style="display:none" value=@Model.Surfboard.Id name="id" />
                    <h2 class="text-primary"> "@Html.DisplayFor(model => Model.Surfboard.Name)" Surfboard Details</h2>
                    <p>@Html.DisplayFor(model => Model.Surfboard.SurfboardType.Description)</p>
                    <p><span class="text-primary">@Html.DisplayNameFor(model => Model.Surfboard.SurfboardType.Name): </span>@Html.DisplayFor(model => Model.Surfboard.SurfboardType.Name)</p>
                    <p><span class="text-primary">@Html.DisplayNameFor(model => Model.Surfboard.Color): </span>@Html.DisplayFor(model => Model.Surfboard.Color)</p>
                    <p><span class="text-primary">@Html.DisplayNameFor(model => Model.Surfboard.Price): </span>@Html.DisplayFor(model => Model.Surfboard.Price)</p>
                    <p><span class="text-primary">@(Model.Surfboard.InStock ? "In Stock" : "Out of Stock")</span></p>
                    @if (Model.Surfboard.InStock)
                    {
                        <div class="mb-5">
                            <div class="input-group mb-3" style="max-width: 200px;">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                </div>
                                <input type="text" class="form-control text-center border mr-0" value=@Model.Quantity min="0" max=@Model.Surfboard.Quantity placeholder=""
                                       name="quantity" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                </div>
                            </div>
                        </div>
                        <button class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary" type="submit">Add To Cart</button>
                        @*<p><a href="/cart.html" >Add To Cart</a></p>*@
                    }

                </div>
            </div>
        </div>
    </div>
}