﻿@model IList<SurfboardStore.Models.Surfboard>

@{
    ViewData["Title"] = "Index";
}
<div class="site-section mt-5">
    <div class="container">

        <div class="row mb-5">
            <div class="col-12 section-title text-center mb-5">
                <h2 class="d-block">Our Products</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, perspiciatis!</p>
            </div>
        </div>
        <div style="display:inline-flex">
            @using (Html.BeginForm("Index", "Product", FormMethod.Get))
            {
                <label for="Color">Color:</label>
                @Html.DropDownList("Color", new SelectList(Model.Select(m => m.Color).Distinct()), "select product color", new { @class = "form-control dropdown-products" })
                <label for="SurfboardType.Name">Surfboard Type:</label>
                @Html.DropDownList("Type", new SelectList(Model.Select(m => m.SurfboardType.Name).Distinct()), "select product type", new { @class = "form-control dropdown-products" })
                <label for="MinPrice">Min Price:</label>
                <Input type="number" id="MinPrice" name="MinPrice" />
                <label for="MaxPrice">Max Price:</label>
                <Input type="number" id="MaxPrice" name="MaxPrice" />
                <button class="form-control" type="submit">Filter</button>
            }
        </div>

        @for (var i = 0; i < Model.Count(); i++)
        {
            if (i % 3 == 0)
            {
                // Open new row
                @:<div class="row">
                }

                    // Write product
                    <div class="col-lg-4 mb-5 col-md-6">

                        <div class="wine_v_1 text-center pb-4">
                            <a href="/Product/Details/@Model[i].Id" class="thumbnail d-block mb-4">
                                <img src="@Model[i].ImageUrl" alt="Image" class="img-fluid">
                            </a>
                            <div>
                                <h3 class="heading mb-1"><a href="#">@Model[i].Name</a></h3>
                                <span class="price">@Model[i].Price</span>
                            </div>


                            <div class="wine-actions">

                                <h3 class="heading-2"><a href="#">@Model[i].Name</a></h3>
                                <span class="price d-block">@Model[i].Price</span>

                                <a href="/Product/Details/@Model[i].Id" class="btn"><span class="icon-details mr-3"></span> See Details </a>
                            </div>
                        </div>

                    </div>


                    if (i % 3 == 2 || i == Model.Count() - 1)
                    {
                        // Close current row
                    @:</div>
                }
            }

    </div>
</div>
