﻿<div class="container" style="display:inline-flex">
    Graphs

    <section id="sales-by-color-graph">
        <h4>Sales by Color</h4>
        <p>Displays the sales division by surfboard color</p>
    </section>

    <section id="orders-by-date-graph">
        <h4>Orders by Date</h4>
        <p>Displays the orders division by order date</p>
    </section>

    <section id="orders-by-location-graph">
        <h4>Orders by Location</h4>
        <p>Displays the orders division by location</p>
    </section>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</div>>