﻿@model IList<SurfboardStore.Models.Surfboard>

@{
    ViewData["Title"] = "Index";
}
<div class="owl-carousel hero-slide owl-style">
    <div class="intro-section container" style="        background-image: url('/images/surfe_5.jpg');">
        <div class="row justify-content-center text-center align-items-center">
            <div class="col-md-8">
                <span class="sub-title">Start Your</span>
                <h1>Surfboards Shopping From Anywhere</h1>
            </div>
        </div>
    </div>

    <div class="intro-section container" style="        background-image: url('/images/surfe_1.jpg');">
        <div class="row justify-content-center text-center align-items-center">
            <div class="col-md-8">
                <h1>Surfboards For Everyone</h1>
            </div>
        </div>
    </div>
</div>



<div class="site-section mt-5">
    <div class="container">
        <div class="row mb-5 special-font">
            <div class="col-12 text-center mb-5">
                <h2 class="d-block">Shop our best sellers!</h2>
                <p>we've gatherd our best selling surfboards just for you!</p>
                <p><a href="/Product">View All Surfboards <span class="icon-long-arrow-right"></span></a></p>
            </div>
        </div>
        @for (var i = 0; i < Model.Count(); i++)
        {
            if (i % 3 == 0)
            {
                // Open new row
                @:<div class="row">
                }
                
                    // Write product
                    <div class="col-lg-4 mb-5 col-md-6">

                        <div class="wine_v_1 text-center pb-4">
                            <a href="/Product/Details/@Model[i].Id" class="thumbnail d-block mb-4">
                                <img src="@Model[i].ImageUrl" alt="Image" class="img-fluid surfboard-img-same-size">
                            </a>
                            <div>
                                <h3 class="heading mb-1"><a href="#">@Model[i].Name</a></h3>
                                <span class="price">@Model[i].Price</span>
                            </div>


                            <div class="wine-actions">

                                <h3 class="heading-2"><a href="#">@Model[i].Name</a></h3>
                                <span class="price d-block">@Model[i].Price</span>

                                <a href="/Product/Details/@Model[i].Id" class="btn"><span class="icon-details mr-3"></span> See Details </a>
                            </div>
                        </div>

                    </div>
                

                if (i % 3 == 2 || i == Model.Count() - 1)
                {
                    // Close current row
                @:</div>
            }
        }

    </div>
</div>

<div class="hero-2" style="        background-image: url('/images/Brisick-Surfing-Selfie.jpg');">
    <div class="container">
        <div class="row justify-content-center text-center align-items-center">
            <div class="col-md-8">
                <h2>Surfboards For Everyone</h2>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <div class="owl-carousel owl-slide-3 owl-slide">

            <blockquote class="testimony">
                <img src="/images/person_1.jpg" alt="Image">
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero sapiente beatae, nemo quasi quo neque consequatur rem porro reprehenderit, a dignissimos unde ut enim fugiat deleniti quae placeat in cumque?&rdquo;</p>
                <p class="small text-primary">&mdash; Collin Miller</p>
            </blockquote>
            <blockquote class="testimony">
                <img src="/images/person_2.jpg" alt="Image">
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero sapiente beatae, nemo quasi quo neque consequatur rem porro reprehenderit, a dignissimos unde ut enim fugiat deleniti quae placeat in cumque?&rdquo;</p>
                <p class="small text-primary">&mdash; Harley Perkins</p>
            </blockquote>
            <blockquote class="testimony">
                <img src="/images/person_3.jpg" alt="Image">
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero sapiente beatae, nemo quasi quo neque consequatur rem porro reprehenderit, a dignissimos unde ut enim fugiat deleniti quae placeat in cumque?&rdquo;</p>
                <p class="small text-primary">&mdash; Levi Morris</p>
            </blockquote>
            <blockquote class="testimony">
                <img src="/images/person_1.jpg" alt="Image">
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero sapiente beatae, nemo quasi quo neque consequatur rem porro reprehenderit, a dignissimos unde ut enim fugiat deleniti quae placeat in cumque?&rdquo;</p>
                <p class="small text-primary">&mdash; Allie Smith</p>
            </blockquote>

        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <div class="fb-page" data-href="https://www.facebook.com/Surf-Club-106211711805362" data-tabs="timeline" data-width="500px" data-height="500px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Surf-Club-106211711805362" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Surf-Club-106211711805362">‏‎Surfboard Co‎‏</a></blockquote></div>
            </div>
        </div>
    </div>
</div>


<div class="site-section bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 section-title text-center mb-5">
                <h2 class="d-block">Surfer's Blog</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, perspiciatis!</p>
                <p><a href="#">View All Products <span class="icon-long-arrow-right"></span></a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0 col-md-6">
                <div class="post-entry-1">
                    <a href="https://edition.cnn.com/travel/article/50-surf-spots/index.html"><img src="/images/9.jpg" alt="Image" class="img-fluid surfboard-img-same-size"></a>
                    <h2><a href="blog-single.html">World's 50 best surf spots</a></h2>
                    <p>Maybe you surf, maybe you don't.</p>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0 col-md-6">
                <div class="post-entry-1">
                    <a href="https://upsurfcoaching.co.nz/learning-to-surf-action-plan/"><img src="/images/6.jpg" alt="Image" class="img-fluid surfboard-img-same-size"></a>
                    <h2><a href="blog-single.html">Learning to surf: an action plan to get you past the beginner level</a></h2>
                    <p>Nearly every time I’m at the beach, I’ll see a particular kind of surfer doing the hard yards….</p>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0 col-md-6">
                <div class="post-entry-1">
                    <a href="https://medium.com/PhilipAndrews/the-beginner-surfers-guide-to-surfing-waves-that-are-too-big-195077b6615"><img src="/images/3.jpg" alt="Image" class="img-fluid surfboard-img-same-size"></a>
                    <h2><a href="blog-single.html">The Beginner Surfers Guide To Surfing In Waves That Are Too Big</a></h2>
                    <p>Most days are 6–9, two days ago it was 7–11, the lowest was 5–8. To me? Huge.</p>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

