﻿@using Microsoft.AspNetCore.Http;
@using System.Security.Claims


<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] - SurfStore</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Montserrat:400,700|Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/css/aos.css">
    <link href="~/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/social-network.css">




</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v8.0&appId=2732525827073022&autoLogAppEvents=1" nonce="mmbx38yL"></script>

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>



        <div class="header-top">
            <div style="display:inline-flex" id="weather">
                <i id="weather-icon"></i><p id="weather-text"></p>
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 text-center">
                        <a href="/" class="site-logo">
                            <img src="/images/logo-surf.png" alt="Image" class="img-fluid">
                        </a>
                    </div>
                    <a href="#" class="mx-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black">
                        <span class="icon-menu h3"></span>
                    </a>
                </div>
            </div>

            <div>

                <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

                    <div class="container">
                        <div class="d-flex align-items-center">

                            <div class="mx-auto">
                                <nav class="site-navigation position-relative text-left" role="navigation">
                                    <ul class="site-menu main-menu js-clone-nav mx-auto d-none pl-0 d-lg-block border-none">
                                        <li class="active"><a href="/" class="nav-link text-left">Home</a></li>
                                        <li><a href="/Home/About" class="nav-link text-left">About</a></li>
                                        <li><a href="/Product/Index" class="nav-link text-left">Surfboards</a></li>
                                        <li><a href="/Home/Contact" class="nav-link text-left">Contact</a></li>
                                        <li><a href="/Cart/Index" class="nav-link text-left">Cart</a></li>
                                        @if (Context.Session.GetInt32("IsAdmin") != null &&
                                      Context.Session.GetInt32("IsAdmin") == 1)
                                        {
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Admin
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-item" href="/Surfboard/Index">Surfboards</a>
                                                    <a class="dropdown-item" href="/Order/Index">Orders</a>
                                                    <a class="dropdown-item" href="/Graph/Index">Graphs</a>
                                                    <a class="dropdown-item" href="/Location/Index">Locations</a>
                                                    <a class="dropdown-item" href="/SocialNetwork/Index">Social Network</a>

                                                </div>
                                            </li>
                                        }
                                        @if (Context.Session.GetInt32("UserID") == null)
                                        {
                                            <li><a href="/Account/Login" class="nav-link text-left">Login</a></li>

                                        }
                                        else
                                        {
                                            <li><a href="/Account/Logout" class="nav-link text-left">Logout</a></li>
                                        }

                                    </ul>
                                </nav>

                            </div>

                        </div>
                    </div>

                </div>

            </div>



            @RenderBody()


            <div class="footer">
                <div class="container">

                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="social-icons">
                                <a href="https://www.facebook.com/Surf-Club-106211711805362"><span class="icon-facebook"></span></a>
                                <a href="http://www.twitter.com/"><span class="icon-twitter"></span></a>
                                <a href="https://www.youtube.com/"><span class="icon-youtube"></span></a>
                                <a href="http://www.instagram.com/"><span class="icon-instagram"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>



                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- .site-wrap -->
        <!-- loader -->
        <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15" /></svg></div>

        <script src="~/js/jquery-3.3.1.min.js"></script>
        <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="~/js/jquery-ui.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/jquery.stellar.min.js"></script>
        <script src="~/js/jquery.countdown.min.js"></script>
        <script src="~/js/bootstrap-datepicker.min.js"></script>
        <script src="~/js/jquery.easing.1.3.js"></script>
        <script src="~/js/aos.js"></script>
        <script src="~/js/jquery.fancybox.min.js"></script>
        <script src="~/js/jquery.sticky.js"></script>
        <script src="~/js/jquery.mb.YTPlayer.min.js"></script>
        <script src="~/js/social-network.js"></script>
        <script src="~/js/weather.js"></script>
        <script src="~/js/graph.js"></script>
        <script src="https://kit.fontawesome.com/3b80a2937a.js" crossorigin="anonymous"></script>




        <script src="~/js/main.js"></script>
        @RenderSection("Scripts", required: false)

    </div>
</body>

</html>