﻿@model IList<SurfboardStore.Models.Item>

@using Microsoft.AspNetCore.Http;
@using SurfboardStore.Extensions;
@using SurfboardStore.Models;

@{
    ViewData["Title"] = "Index";
    var cart = Context.Session.GetComplexData<List<Item>>("cart");
}

<div class="site-section  pb-0">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-7 section-title text-center mb-5">
                <h2 class="d-block">Cart</h2>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="site-blocks-table">
                    @if (cart != null && cart.Count() != 0)
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Item item in cart)
                                {
                                <tr>
                                    <td><img src="@item.Surfboard.ImageUrl" width="60" /> </td>
                                    <td>@item.Surfboard.Name</td>
                                    <td>@item.Surfboard.Price</td>
                                    <td>@item.Quantity<br/>
                                    @Html.ValidationMessage("Quantity")</td>
                                    <td>@(item.Surfboard.Price * item.Quantity)</td>

                                    @*<td>
            <div class="input-group mb-3" style="max-width: 120px;">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                </div>
                <input  type="text" class="form-control text-center border mr-0" value=@item.Quantity min="1" max=@item.Surfboard.Quantity placeholder=""
                       aria-label="Example text with button addon" aria-describedby="button-addon1">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                </div>
            </div>
        </td>*@
                                    <td><a href="@Url.Action("Remove", "Cart", new { id = item.Surfboard.Id })">Remove</a></td>
                                </tr>
                                }
                            </tbody>
                        </table>

                        <div class="site-section pt-5 bg-light">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-5">
                                            <div class="col-md-6">
                                                <a href="/Product/" class="btn btn-outline-primary btn-md btn-block">Continue Shopping</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-5">
                                        <div class="row justify-content-end">
                                            <div class="col-md-7">
                                                <div class="row">
                                                    <div class="col-md-12 text-right border-bottom mb-5">
                                                        <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                                    </div>
                                                </div>
                                                <div class="row mb-5">
                                                    <div class="col-md-6">
                                                        <span class="text-black">Total</span>
                                                    </div>
                                                    <div class="col-md-6 text-right">
                                                        <strong class="text-black">@cart.Sum(i => i.Quantity * i.Surfboard.Price)₪</strong>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <form action="/Cart/PlaceOrder/" method="post">
                                                            <button class="btn btn-primary btn-lg btn-block" type="submit">Place Order</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <p>There are no items in your cart</p>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
