﻿@model IEnumerable<SurfboardStore.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="display:inline-flex">
    @using (Html.BeginForm("Index", "Order", FormMethod.Get, new { style = "display : inline-flex;" }))
    {
        <label for="Status">Status:</label>
        @Html.DropDownList("Status", new SelectList(Model.Select(m => m.Status).Distinct()), "select order status", new { @class = "form-control dropdown-products" @*, onchange = @"form.submit();"*@})
        <label for="Location">Location:</label>
        @Html.DropDownList("Location", new SelectList(Model.Select(m => m.Location.Name).Distinct()), "select store location", new { @class = "form-control dropdown-products"@*, onchange = @"form.submit();"*@ })
        <label for="StartDate">StartDate:</label>
        <div class="form-group">
            <input placeholder="Select Start Date" name="StartDate" id="StartDate" type="date" class="form-control" />
        </div>
        <label for="EndDate">EndDate:</label>
        <div class="form-group">
            <input placeholder="Select Start Date" name="EndDate" id="EndDate" type="date" class="form-control" />
        </div>
        <button class="form-control" type="submit">Filter</button>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
