﻿<div class="site-section mt-5">
    <div class="container">

        <div class="row mb-5">
            <div class="col-12 section-title text-center mb-5">
                <h2 class="d-block">Upload Post on Facebook Page</h2>
            </div>
        </div>
    </div>
</div>
<div id="social-network">
    <section>
        <div class="text">
            <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.0-1/cp0/p50x50/98174983_111283267260565_554755417813549056_o.jpg?_nc_cat=104&_nc_sid=dbb9e7&_nc_ohc=pRnlKl94EFAAX_-Nulx&_nc_ht=scontent.ftlv5-1.fna&oh=fee7a46015e625085a28e0e45085e525&oe=5F730CED" />
            <textarea placeholder="What's in your mind"></textarea>
            <input type="submit" value="post" />
        </div>
    </section>
</div>