
@using Microsoft.AspNetCore.Http;

@{
    ViewBag.Title = "Admin";
}

<fieldset>
    <legend>
        User DashBoard
    </legend>

    @if (Context.Session.GetString("UserName") != null)
    {
        <text>
            Welcome @Context.Session.GetString("UserName")
        </text>
    }
</fieldset>
