
    @model SurfboardStore.Models.User

    @{
    ViewBag.Title = "Login";
    }

    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
    <fieldset>
    <legend>Mvc Simple Login Application Demo</legend>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @if (@ViewBag.Message != null)
    {
    <div style="border: 1px solid red">
    @ViewBag.Message
    </div>
    }
    <table>
    <tr>
    <td>@Html.LabelFor(a => a.UserName)</td>
    <td>@Html.TextBoxFor(a => a.UserName)</td>
    <td>@Html.ValidationMessageFor(a => a.UserName)</td>
    </tr>
    <tr>
    <td>
    @Html.LabelFor(a => a.Password)
    </td>
    <td>
    @Html.PasswordFor(a => a.Password)
    </td>
    <td>
    @Html.ValidationMessageFor(a => a.Password)
    </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Login" />
        </td>
        <td></td>
        <td>
            <a href="/Account/Register" class="nav-link text-left">Register</a>

        </td>
    </tr>
    </table>
    </fieldset>
    }
